html {
  margin:0;
}

body,html {
  height:100%;
}

li{list-style: none;}

body {
  margin: 0;
  color: #000;
  font-size: 1em;
}

#container{
  position:fixed;
  width: 100%;
  height:100%;
  display: none;
}

#cartel{
  width: 25%;
  position: absolute;
  height:auto;
  left:2%;
  top:2%;
  padding:1%;
  margin: auto;
  z-index: 100;
  background-color: rgba(255, 255, 255, .7);
}

#cartel h3 {
  font-size: 18px;
}